.box {
    margin: auto auto;
    width: 100%;
}

.contact_confirm {
    max-width: 330px;
    margin: 20px auto 200px;
    overflow: auto;
}

.stack {
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    margin-bottom: 10px;
}

.text {
    padding: 20px;
    color: black;
}
