.box {
    margin-top:50px;
    margin-bottom:50px;
    width: 100%;
}
.contactreview{
    max-width:330px;
    margin-left: auto;
    margin-right: auto;    
    margin-top:20px;
    margin-bottom: 200px;
    overflow: auto;
}
.stack{
    display: flex;
    justify-content:center;
    align-items: center; 
    cursor: pointer;
    margin-bottom: 10px;
}
.text{
    padding: 20px;
}
