/* Login.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  overflow: auto;
  padding: 24px 12px;
  box-sizing: border-box;

  /* フッターの高さ + 余白を下に追加（例：200pxに増やす） */
  padding-bottom: 200px;
}


.container {
  width: 100%;
  max-width: 430px;
  padding: 24px;
  box-sizing: border-box;
}

.title {
  color: #2e2600;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.label {
  color: #2e2600;
  margin-bottom: 4px;
}

.input {
  background-color: #d4d4d4;
  border-radius: 12px;
  padding: 0;
}

.linkWrapper {
  text-align: right;
  margin-top: 4px;
}

.button {
  background-color: #2e2600 !important;
  color: white !important;
  border-radius: 12px !important;
  font-size: 1rem;
  padding: 15px 0 !important;
  flex: 1;
  
}
