.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #fff;
  padding: 0 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.title {
  font-weight: bold;
  color: #3A2415;
  font-size: 2.5rem !important; 
}

.description {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.6;
  padding: 0 1rem;
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: #3A2415;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-top: 12px; 
  min-height: 30px; 
}

.button {
  width: 150px;
  padding: 12px 0 !important;
  border-radius: 10px !important; 
  font-weight: bold !important;
  font-size: 1rem !important;
  box-shadow: none !important;
}

.backButton, .submitButton {
  background-color: #4B4228 !important;
  color: white !important;
}

.backButton:hover, .submitButton:hover {
  background-color: #6a5f3a !important;
  opacity: 0.9;
}