.privacypolicy{
     max-width: 330px;
     margin: auto auto;
     overflow: auto;
     width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    gap: 50px;
    margin-top: 350px;
}

.text {
    margin-top: 80px;
}