.title {
    color:#4b3f2e;
    font-size:2.5rem;
    margin-top: 30px;
}

.form {
    display: inline-block;
    text-align: left;
}

.TextField_name {
    margin-bottom: 30px;
}
.TextField_mail {
    margin-bottom: 30px;
}

.TextField_password {
    margin-bottom: 40px;
}

.Button {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.name {
    margin: 0%;
}
.mail {
    margin: 0%;
}
.password {
    margin: 0%;
}