.page {
    max-width: 425px;
    margin: 20px auto 150px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 150px;
}

.logo {
    border-radius: 50%;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.fixedButtons {
  position: fixed;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 425px;
  display: flex;
  justify-content: center;
  gap: 24px;
  background: #fff;
  padding: 8px 0 20px;
}